:root {
  --colorPrimary: #eb2f64;
  --colorPrimaryLight: #FF3366;
  --colorPrimaryDark: #BA265D;
  --colorDark: #333 ;
  --colorLight: #777;
  --colorLighter: #999;
  --LightPrimary: #faf9f9;
  --LightSecondary: #f4f2f2;
  --LightThird: #f0eeee;
  --colorWhite: #fff;
  --colorGray: #ccc;
  --shadow-dark-blur: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line-bottom: 1px solid var(--LightPrimary); }

* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--colorPrimaryLight), var(--colorPrimaryDark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colorDark);
  min-height: 100vh; }

@keyframes pulsating {
  0% {
    box-shadow: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  100% {
    box-shadow: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }

.btn {
  border: none;
  padding: 1rem;
  color: var(--colorPrimary);
  background-color: transparent;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out; }
  .btn span {
    margin-left: .1rem;
    transition: margin-left .2s ease-out;
    -webkit-transition: margin-left .2s ease-out;
    -moz-transition: margin-left .2s ease-out;
    -ms-transition: margin-left .2s ease-out;
    -o-transition: margin-left .2s ease-out; }
  .btn:hover {
    color: var(--colorLight); }
    .btn:hover span {
      margin-left: .8rem; }
  .btn:focus {
    outline: none;
    animation: pulsating 1s infinite;
    -webkit-animation: pulsating 1s infinite; }
  .btn--inline {
    display: inline; }

.search {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    border: none;
    background-color: var(--LightSecondary);
    margin-right: -3.5rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--LightSecondary); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--colorLighter); }
  .search__input:focus + .search__button {
    background-color: var(--LightSecondary); }
  .search__button {
    background-color: transparent;
    border: none; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--colorLight); }

.user-nav-container {
  display: flex;
  align-self: stretch; }
  .user-nav-container > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav-container > *:hover {
    background-color: var(--LightSecondary); }
  .user-nav-container .user-nav__icon-box {
    position: relative; }
  .user-nav-container .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--colorLight); }
  .user-nav-container .user-nav__notification {
    background-color: var(--colorPrimaryLight);
    padding: .1rem;
    color: #fff;
    font-weight: 400;
    font-size: .8rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 1.1rem;
    right: 1.4rem; }
  .user-nav-container .user-nav__user-profile-picture {
    height: 3.75rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem; }
  .user-nav-container .user-nav__user-name {
    display: inline-block; }

.gallery {
  display: flex;
  flex-direction: row; }
  .gallery__item {
    width: 100%; }
  .gallery__photo {
    width: 100%;
    display: block; }

.review {
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review::before {
    content: "\201C";
    position: absolute;
    color: var(--LightThird);
    font-size: 18rem;
    font-family: sans-serif;
    line-height: 1;
    top: -2.75rem;
    left: -1rem;
    z-index: 1; }
  .review__text {
    font-weight: 700;
    z-index: 10;
    position: relative; }
  .review__user {
    margin-top: 2.5rem;
    display: flex;
    align-items: center; }
  .review__photo {
    box-sizing: content-box;
    height: 4.5rem;
    width: 4.5rem;
    padding: .2rem;
    border: 0.3rem solid var(--LightPrimary);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%; }
  .review__user-box {
    margin-right: auto;
    margin-left: 1rem; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .4rem;
    color: var(--colorLight); }
  .review__user-date {
    font-size: 1rem;
    font-weight: 300;
    color: var(--colorDark); }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--colorPrimary); }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--colorGray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--LightPrimary);
  box-shadow: var(--shadow-dark-blur); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }

.sidebar {
  background-color: var(--colorDark);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    background-color: var(--colorPrimaryLight);
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    -webkit-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    -moz-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    -ms-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    -o-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item::after {
    content: "";
    position: 0;
    top: 0;
    left: 0; }
  .side-nav__item {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.5rem 3rem; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:hover::before, .side-nav__item-active::before {
    width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  .side-nav__item:active::before {
    background-color: var(--colorPrimary); }
  .side-nav__link {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100; }
    .side-nav__link:link, .side-nav__link:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .2rem;
      font-weight: 500;
      font-family: inherit;
      font-size: 1.2rem; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--colorLighter); }

.overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--colorWhite);
  border-bottom: 1px solid var(--LightPrimary); }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__heading {
    font-weight: 300;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem; }
  .overview__location {
    font-size: 1.2rem;
    padding: 0 1em;
    display: flex;
    align-items: center; }
  .overview__icon--location {
    margin-right: .5rem; }
  .overview__icon--star, .overview__icon--location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--colorPrimary); }
  .overview__rating {
    background-color: var(--colorPrimary);
    text-align: center;
    padding: .5rem 1.5rem;
    align-self: stretch; }
  .overview__rating-average {
    color: #fff;
    font-weight: 500;
    font-size: 2.25rem;
    display: block; }
  .overview__rating-count {
    color: #fff;
    margin-left: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    display: block; }

.detail-view {
  display: flex;
  align-items: stretch;
  padding: 4.5rem;
  background-color: var(--LightPrimary);
  border-bottom: var(--line-bottom);
  font-size: 1.4rem; }

.description {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60%;
  font-size: 1.4rem;
  color: var(--colorLighter);
  margin-right: 4.5rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }

.user-reviews {
  flex-grow: 1;
  font-size: inherit;
  color: var(--colorLighter);
  display: flex;
  flex-direction: column;
  align-items: center; }

.paragraph {
  font-size: inherit;
  color: inherit; }
  .paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--colorGray);
  border-bottom: 1px solid var(--colorGray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .list__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-repeat: no-repeat;
    background-color: var(--colorPrimary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: currentColor;
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    padding: .2rem;
    border: 0.3rem solid var(--LightPrimary);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.8rem; }

.cta {
  background-color: #fff;
  text-align: center;
  padding: 2.5rem 0; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    color: var(--colorLight);
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
  .cta__book--btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    position: relative;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    background-image: linear-gradient(to right, var(--colorPrimary), var(--colorPrimaryDark));
    overflow: hidden; }
    .cta__book--btn:hover {
      background-image: linear-gradient(to left, var(--colorPrimary), var(--colorPrimaryDark)); }
    .cta__book--btn:focus {
      outline: none;
      animation: pulsating 1s infinite;
      -webkit-animation: pulsating 1s infinite; }
  .cta:hover .cta__book--visible {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%); }
  .cta:hover .cta__book--hidden {
    top: 0; }
  .cta__book--visible {
    display: inline-block;
    padding: 2rem 7rem;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out; }
  .cta__book--hidden {
    position: absolute;
    display: inline-block;
    padding: 2rem 0;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out; }

.content {
  display: flex; }

.hotel-view {
  background-color: var(--LightSecondary);
  flex-grow: 1; }
