// This handles the web global definition

//using css variables instead of SASS
:root{
    --colorPrimary: #eb2f64;
    --colorPrimaryLight: #FF3366;
    --colorPrimaryDark: #BA265D;

    --colorDark: #333 ;
    --colorLight: #777;
    --colorLighter: #999;

    --LightPrimary: #faf9f9;
    --LightSecondary: #f4f2f2;
    --LightThird: #f0eeee;

    --colorWhite: #fff;
    --colorGray: #ccc;

    --shadow-dark-blur: 0 2rem 6rem rgba(0, 0, 0, .3);
    --line-bottom: 1px solid var(--LightPrimary); 
}

*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--colorPrimaryLight),var(--colorPrimaryDark) );
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--colorDark);
    min-height: 100vh;

}