// This handles section definition of the page
//flex - sidebar and gallery and comment on the right side
.content{
    display: flex;

    @include breakPoints ($bp-1){
        flex-direction: column;
    }

}

//
.hotel-view{
    background-color: var(--LightSecondary);
    flex-grow: 1;
}